$desktopContainerWidth: 95%;

// C O L O R S

$primaryColor: #ff6d6d;
$secondaryColor: #77d7d3;
$infoColor: #2e4049;

$cremita: #f1eeec;
$lightBlue: #ecf1f0;
$lightGray: #f2f2f2;
$lightBlack: #727272;
