@use "../../styles/globals.scss" as *;

.hero {
  min-height: 80vh; //calc(100vh - 78px);
  width: 100vw;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/pexels-thirdman-8926648.jpg");

  background-size: cover;
  background-position: center;

  &__buttons {
    margin-top: 1.5rem;
  }

  &__text {
    color: white;
  }
}

.info-boxes {
  display: flex;
  margin: -3rem $destopContainerMargin 0 $destopContainerMargin;
}
.info-box {
  width: 33.333%;
  padding: 0 2rem;

  display: flex;
  justify-content: center;

  &__title {
    display: inline-block;
    margin-bottom: 1rem !important;
  }
  &__copy {
    margin-bottom: 1rem !important;
  }
  &__button {
  }
  &__link {
    color: $lightGray;
  }
}
.box-wrapper {
}

.info-box--1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $secondaryColor;
  color: $infoColor;
}

.info-box--2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $infoColor;
  color: $lightGray;
}
.info-box--3 {
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(255, 107, 107, 0.6),
      rgba(255, 107, 107, 0.6)
    ),
    url("../../assets/images/pexels-cottonbro-studio-6593913.jpg");
  background-size: cover;
  background-position: center;
}

// about-us

$totalMargin: $destopContainerMargin * 2;
.about-us {
  //   background-color: red;
  &__container {
    margin: 0 $destopContainerMargin;

    width: calc(100% - $totalMargin);
    padding: 3.5rem 0;
  }
}

.people__poster {
  font-size: 32px;
  font-family: $font-secondary;
  color: $primaryColor;
}
.people__title {
  font-family: $font-main;
  color: $infoColor;
  margin-bottom: 1rem;
}
.people__copy {
  font-family: $font-primary;
  margin-bottom: 1rem;
  line-height: 1.75;
}
.goals__title {
  color: $infoColor;
  font-family: $font-main;
  margin-bottom: 1rem;
}
.goals__list {
  color: $lightBlack;
}
.goals__goal {
  font-family: $font-primary;
  margin-bottom: 1rem;
}
