.fade-in {
  opacity: 1;
  animation: animate-in 0.8s ease-in; 
}

.fade-out {
  opacity: 0;
  animation: animate-out 0.8s ease-in-out; 
}

@keyframes animate-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}