@use "../../styles/globals.scss" as *;

.nav {
  width: 100%;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  margin: 0 $destopContainerMargin;
  align-items: center;
  padding: 0.5rem 0;
}
.nav__logo-container {
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__link {
  text-decoration: none;
  color: $infoColor;
  display: flex;

  align-items: center;
}
