.sheet[data-state="open"] {
  animation: animate-in 400ms ease-out
}

.sheet[data-state="closed"] {
  animation: animate-out 400ms ease-out
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animate-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}